ion-menu ion-content {
    --padding-bottom: 20px;
  
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  
  /* Remove background transitions for switching themes */
  ion-menu ion-item {
    --transition: none;
  }

  ion-item.inactive{
      color: #73849a69;
  }


  .background-img{
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
  }

 .profile-img{
      width: 130px;
      border-radius: 50% !important;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .profile-text{
      color: white;
  }


  .container-header-content{
    display: flex;
    justify-content: space-between;

  }
    
  // }

  ion-item.active-selected {
    --color: var(--ion-color-primary);
  }
  /*
   * Material Design Menu
  */

  ion-menu.md ion-item ion-icon.inactive{
    color: #73849a69;
  }

  ion-menu.md ion-list {
    padding: 20px 0;
  }
  

  ion-menu.md ion-list-header {
    padding-left: 18px;
    padding-right: 18px;
  
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 450;
  }
  
  ion-menu.md ion-item {
    --padding-start: 18px;
  
    margin-right: 10px;
  
    border-radius: 0 50px 50px 0;
  
    font-weight: 500;
  }
  
  ion-menu.md ion-item.active-selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  
  ion-menu.md ion-item.active-selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-item ion-icon {
    color: var(--ion-color-step-650, #5f6368);
  }
  
  ion-menu.md ion-list:not(:last-of-type) {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  
  /*
   * iOS Menu
  */


  ion-menu.ios ion-item ion-icon.inactive{
    color: #73849a69;
  }

  ion-menu.ios ion-list-header {
    padding-left: 16px;
    padding-right: 16px;
  
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-item.active-selected ion-icon {
    color: var(--ion-color-primary);
  }
  